.posts {
  display: flex;
}

.posts h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
}

.posts img {
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 224px;
}

.posts h2 {
  margin-bottom: 8px;
}
.posts h6 {
  margin-bottom: 10px;
  font-weight: 400;
  color: gray;
  opacity: 0.8;
}

.posts p {
  margin-bottom: 5px;
  color: #333;
  opacity: 0.8;
}
.posts a {
  text-decoration: none;
  color: #333;
}

.posts .read-more {
  color: #34b3a0;
}
