.navbar {
  background-color: #333;
  height: 56px;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-bottom: 35px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.mobile-menu {
  display: none;
}
.nav-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  align-items: center;
  height: 40px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-container a {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  transition: 200ms ease-out;
}
.nav-container a:hover {
  opacity: 1;
  transition: 200ms ease-in;
  color: rgb(52, 179, 160);
}
.nav-container .nav-items a {
  margin: 0 8px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  line-height: 26.4px;
}

.nav-container .nav-logo a {
  font-weight: 900;
  font-size: 20px;
  opacity: 1;
}

@media (max-width: 768px) {
  /* .nav-container a {
    display: none;
  } */
  .nav-items {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
  .mobile-menu img {
    width: 30px;
    cursor: pointer;
    opacity: 0.8;
    transition: 200ms ease-out;
  }
  .mobile-menu img:hover {
    opacity: 1;
    transition: 200ms ease-in;
  }
}

.mobile-nav-items {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.96);
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex-direction: column;
  font: initial;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mobile-nav-items > a {
  color: #fff;
  font-size: 10vw;
  margin: 20px 0;
  border-bottom: 1px solid white;
}

.mobile-nav-items > a:nth-child(2) {
  margin-top: 15vh;
}

#exit {
  position: absolute;
  right: 6%;
  font-size: 3rem;
  cursor: pointer;
}
